.DS_Store

output/
output_*/
run_*/

plot_hdf5.py
look_into_*.py
.ipynb_checkpoints

*.csv
*.o
*.a
*.so
*.dylib
*.exe
bin/
obj/

_build/
docs/xml/

# Python / Build artefaktok
__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
.eggs/
.pytest_cache/
*.so
*.pyd
*.dylib


*.png

rapidsim/data/

plot_mass_conservation.py
plot_ring_test.py
plot_steady_state_test.py
plot_photoev_cgs_massloss.py
plot_photoev_massloss.py
plot_photoevaporation_test.py
*.png

plot_out*.py

calculate_*.py
sig.py

Photoevaporation_O*/

notebooks/mass*/mass*/config/
notebooks/mass*/mass*/LOGS/sigma*.dat
notebooks/ring*/ring*/config/
notebooks/ring*/ring*/LOGS/*_summary.dat
notebooks/conver*/conver*/config/
notebooks/conver*/conver*/LOGS/*_summary.dat
notebooks/conver*/conver*/LOGS/*002.dat